<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-profile" text-center padding>
    <img src="assets/img/monlogo.jpeg">
  </div>

  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>Application de Gestion Personnelle</strong></ion-text>
      </h1>
      
      <p margin-bottom>
        Cette aapplication permet de gerer tout les Personnel d'une entreprise 
        en tenant compte compte des absences, les formations, les conges etc ....
      </p>
      
      <p>
       Alors Profitez-vous des meilleures fonctionnalités que l'appli vous offre
       Amusez-Vous bien. C'est Parti!!!
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
