<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="secondary"></ion-back-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">Enregistrement absence</ion-text>
        </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card no-margin class="no-radius">
    <ion-item lines="none" color="medium">
      <ion-label>
        <h2 no-margin class="fw500 no-margin">
          <ion-text color="dark"> Enregistrement d'une nouvelle absence</ion-text>
        </h2>
      </ion-label>
    </ion-item>
  </ion-card>

  <div class="bg-white">
      <form (ngSubmit)="onSubmit()" padding-right>
        <ion-item line="none" class="animated fadeInUp">
          <ion-label for="name" position="floating">Motif Absence</ion-label>
          <ion-input type="text" id="motif" required [(ngModel)]="absence.motif" name="motif"></ion-input>
        </ion-item>
        <ion-item line="none"  class="animated fadeInUp">
          <ion-label for="name" position="floating">Date d'absence </ion-label>
          <ion-input type="date" id="date" required [(ngModel)]="absence.date" name="date"></ion-input>
        </ion-item>
        <ion-item line="none" class="animated fadeInUp">
          <ion-label for="name" position="floating">Durée d'absence</ion-label>
          <ion-input type="number" id="duree" required [(ngModel)]="absence.duree" name="duree"></ion-input>
        </ion-item>  
        <ion-item>
          <ion-label>Employés</ion-label>
          <ion-select  name="employee" [(ngModel)]="absence.employee" multiple >
            <ion-select-option  *ngFor="let emp of employees| async" [value]="emp.id">{{emp.prenom }} {{emp.nom }}</ion-select-option> 
          </ion-select>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button type="submit" icon-left size="medium" expand="full" shape="round" color="dark">Ajouter</ion-button>
            </ion-col>
            <ion-col>
              <ion-button type="reset" icon-left size="medium" expand="full" shape="round" color="danger">Annuler</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </form>
  
  </div>

</ion-content>
